body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}
main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.agenda {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}